<!-- <div class='content-wrapper p-2'>
    <div
      class='container-fluid shadow p-2 bg-white'
      [ngStyle]="{ minHeight: '88vh' }"
    >
      <h4 class='p-2 mb-3 border-bottom border-success'>Companies</h4>
      <div class='row'>
        <div class='col-sm-8'>
          <table class='table table-bordered table-sm'>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody> -->
              <!-- {data.map((x, index) => (
                <tr key={index}>
                  <td>{x.id}</td>
                  <td>{x.compname}</td>
                  <td>
                    <a
                      onClick={(e) => handleDelete(x.id)}
                      href='#'
                      class='btn btn-outline-danger btn-sm'
                    >
                      <i class='fa fa-trash' />
                      Delete
                    </a>
                  </td>
                </tr>
              ))} -->
            <!-- </tbody>
          </table>
        </div>
        <div class='col-sm-4'> -->
          <!-- <form
            method='post'
            encType='multipart/form-data'
            action='savecat.php'
          >
            <div class='form-group'>
              <label>Company Name</label>
              <input
                type='text'
                value={company}
                onChange={(e) => setCompany(e.target.value)}
                class='form-control'
                name='compname'
              />
            </div>
            <input
              type='submit'
              onClick=handleSubmit();
              class='btn btn-primary btn-sm'
              defaultValue='Save Company'
            />
          </form> -->
        <!-- </div>
      </div>
    </div>
  </div> -->