<!-- <div class='content-wrapper p-2'> -->
    <!-- <div
      class='container-fluid shadow p-2 bg-white'
      [ngStyle]="{ minHeight: '88vh' }"
    >
      <h4 class='p-2'  [ngStyle]="{ borderBottom: '2px solid green' }">
        Feedbacks
      </h4>
      <table class='table table-bordered table-sm'>
        <thead>
          <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Feedback</th>
            <th>Ratings</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody> -->
          <!-- {data.map((x) => (
            <tr key={x.id}>
              <td>{x.id}</td>
              <td>{x.customer.uname}</td>
              <td>{x.descr}</td>
              <td>
                <Rating
                  initialValue={x.ratings}
                  readonly={true}
                  size={22}
                />
              </td>
              <td>{moment(x.createdon).format('DD-MMM-yyyy')}</td>
            </tr>
          ))} -->
        <!-- </tbody>
      </table>
    </div> -->
  <!-- </div> -->