<!-- <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-6'>
        <div class='card m-2'>
          <div class='card-header text-center'></div>
          <img
          [ngStyle]="{ height: 380 }"
            src={BASE_URL + data.photo}
            class='card-top-img'
          />
          <div class='card-footer'>
            <table class='table table-sm'>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>{data.title}</th>
                </tr>
                <tr>
                  <th>Price per day</th>
                  <th>₹ {data.price}/day</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class='col-sm-6'> -->
        <!-- {state.loggedin.IsLoggedIn ? (
          <>
            <form>
              <div class='card shadow mb-2'>
                <div class='card-body'>
                  <h5 style={{ borderBottom: '2px solid green' }}>
                    Bookinging Details
                  </h5>
                  <div class='form-row'>
                    <div class='col-sm-6'>
                      <div class='form-group'>
                        <label>From Date</label>
                        <input
                          type='date'
                          min={today}
                          value={booking.fromdate}
                          onChange={handleInput}
                          name='fromdate'
                          class='form-control'
                        />
                      </div>
                    </div>
                    <div class='col-sm-6'>
                      <div class='form-group'>
                        <label>To Date</label>
                        <input
                          type='date'
                          min={today}
                          value={booking.todate}
                          onChange={handleInput}
                          name='todate'
                          class='form-control'
                        />
                      </div>
                    </div>
                    <div class='col-sm-6'>
                      <div class='form-group'>
                        <label>Price</label>
                        <input
                          type='text'
                          readOnly
                          name='amount'
                          value={amount}
                          class='form-control'
                        />
                      </div>
                    </div>
                    <div class='col-sm-6'>
                      <div class='form-group'>
                        <label>Message (Optional)</label>
                        <input
                          type='text'
                          required
                          name='message'
                          onChange={handleInput}
                          value={booking.message}
                          class='form-control'
                        />
                      </div>
                    </div>
                    <div class='col-sm-6'>
                      <div class='form-group'>
                        <label>Booking Money</label>
                        <input
                          type='number'
                          id='advance'
                          min={1}
                          onChange={handleInput}
                          required
                          name='advance'
                          max={amount}
                          value={booking.advance}
                          placeholder='Advance Amount'
                          class='form-control'
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='card shadow mb-2'>
                <div class='card-body'>
                  <h5 style={{ borderBottom: '2px solid green' }}>
                    Payment Details
                  </h5>
                  <div class='form-row'>
                    <div class='col-sm-6'>
                      <div class='form-group'>
                        <label>Card Number</label>
                        <input
                          type='text'
                          required
                          name='cardno'
                          onChange={handleInput}
                          value={booking.cardno}
                          pattern='[0-9]{16,16}'
                          maxLength={16}
                          class='form-control'
                        />
                      </div>
                    </div>
                    <div class='col-sm-6'>
                      <div class='form-group'>
                        <label>Name on Card</label>
                        <input
                          type='text'
                          required
                          name='nameoncard'
                          onChange={handleInput}
                          value={booking.nameoncard}
                          class='form-control'
                        />
                      </div>
                    </div>
                    <div class='col-sm-6'>
                      <div class='form-group'>
                        <label>CVV</label>
                        <input
                          type='text'
                          required
                          maxLength={3}
                          pattern='[0-9]{3,3}'
                          name='cvv'
                          onChange={handleInput}
                          class='form-control'
                        />
                      </div>
                    </div>
                    <div class='col-sm-6'>
                      <div class='form-group'>
                        <label>Expiry Date</label>
                        <input
                          type='month'
                          name='expiry'
                          onChange={handleInput}
                          required
                          class='form-control'
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <input
                type='submit'
                defaultValue='Booking Now'
                onClick={handleSubmit}
                class='btn btn-primary'
              />
            </form>
          </>
        ) : (
          <>
            <h5 class='p-2 mt-4'>
              Please <Link to='/login'>login</Link> or{' '}
              <Link to='/register'>register</Link> to booking car
            </h5>
          </>
        )} -->
      <!-- </div>
      <div class='clearfix'> </div>
    </div>
  </div> -->